{% extends 'navbar.html' %}

{% block content %}
<body>
    <div class="container">
        <form method="post" enctype="multipart/form-data" id="hero-form">
            {% csrf_token %}
            {{ form.as_p }}

            <!-- Add an id to the button and disable it initially -->
            <div class="buttons">
                <button type="submit" class="button" id="addHeroButton" disabled>Add Hero</button>
                <!-- Back button to go back to the previous page -->
                <a href="javascript:history.back()" class="btn-back">Back</a>
            </div>
        </form>
    </div>

    <!-- JavaScript to enable button after typing -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById("heroForm");
            const button = document.getElementById("addHeroButton");

            form.addEventListener("input", function () {
                let formFilled = false;

                for (const input of form.elements) {
                    if (input.type !== "submit" && input.value.trim() !== "") {
                        formFilled = true;
                        break;
                    }
                }
                button.disabled = !formFilled;
            });
        });
    </script>
</body>
</html>
{% endblock %}
