<footer>
    <div class="footer-container">
        <div class="right">
            <div class="copy">
                <p>2024 © <span>Player <span class="tracker">Tracker</span> System</span></p>
            </div>
            <div class="links">
                <a href="#privacy">Privacy Policy</a>
                <a href="#terms">Terms of Service</a>
                <a href="#support">Support</a>
            </div>
        </div>
        <div class="left">
            <div class="instagram">
                <i class="fa-brands fa-instagram" style="color: #eebbc3;"></i>
            </div>
            <div class="discord">
                <i class="fa-brands fa-discord" style="color: #eebbc3;"></i>
            </div>
            <div class="github">
                <i class="fa-brands fa-github" style="color: #eebbc3;"></i>
            </div>
        </div>
    </div>
</footer>
