{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <h1>Hero List</h1>
            <ul class="hero-list">
                {% for hero in heroes %}
                    <li>
                        <span class="hero-name">{{ hero.hero_name }}</span> - 
                        <span class="hero-role">Role: {{ hero.role }}</span>
                        <div class="actions">
                            <a href="{% url 'hero_update' hero.id %}" class="btn btn-edit">Edit</a> |
                            <a href="{% url 'hero_delete' hero.id %}" class="btn btn-delete">Delete</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <a href="{% url 'hero_create' %}" class="btn-add">Add New Hero</a>
    </div>
</body>
</html>
