{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Player Tracker{% endblock %}</title>
    <link rel="icon" href="{% static 'images/PTS icon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <!-- Navigation Bar -->
    <div class="nav-bar">
        <!-- Logo -->
        <div class="logo">
            <a href="{% url 'home' %}">
                <span>MOBA Player Tracker</span>
            </a>
        </div>

        <!-- Login/Sign Up Links -->
        <div class="auth-links">
            {% if player %}
                <a class="profile-name" href="{% url 'profile' %}">{{ player.username }}</a>
                <a class="profile-logout" href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </div>

    <!-- Main Content -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <!-- Right Section -->
            <div class="right">
                <div class="copy">
                    <p>2024 © <span>Player <span class="tracker">Tracker</span> System</span></p>
                </div>
                <div class="links">
                    <a href="#privacy">Privacy Policy</a>
                    <a href="#terms">Terms of Service</a>
                    <a href="#support">Support</a>
                </div>
            </div>

            <!-- Left Section -->
            <div class="left">
                <div class="instagram">
                    <i class="fa-brands fa-instagram" style="color: #eebbc3;"></i>
                </div>
                <div class="discord">
                    <i class="fa-brands fa-discord" style="color: #eebbc3;"></i>
                </div>
                <div class="github">
                    <i class="fa-brands fa-github" style="color: #eebbc3;"></i>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
