{% extends 'navbar.html' %}

{% block content %}
<body class="item-body">
    <div class="item-list-container">
        <div class="item-container">
            <div class="content">
                <h1>Item List</h1>
                <a href="{% url 'item_create' %}" class="create-button">Create New Item</a>
                <ul class="item-list-ul">
                    {% for item in items %}
                        <li class="item-list-li">
                            <div class="item-info">
                                <img src="https://a.espncdn.com/combiner/i?img=/i/headshots/nba/players/full/1966.png" alt="{{ item.item_name }} Icon">
                                <div>
                                    <p><strong>ID:</strong> {{ item.item_id }}</p>
                                    <p><strong>Name:</strong> {{ item.item_name }}</p>
                                    <p><strong>Cost:</strong> ${{ item.cost }}</p>
                                </div>
                            </div>
                            <div class="actions">
                                <a href="{% url 'item_update' item.pk %}" class="edit">Edit</a>
                                <a href="{% url 'item_delete' item.pk %}" class="delete">Delete</a>
                            </div>
                        </li>
                    {% empty %}
                        <li>No items available.</li>
                    {% endfor %}
                </ul>
            </div>
            <a href="{% url 'home' %}" class="back-button">Back to Home</a>
        </div>
    </div>
</body>
</html>
{% endblock %}