@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    border: none;
    padding: none;
    margin: none;
    /* background: #232946; */
    --primary-color: #232946;
    --button-color: #EEBBC3;
    --headline-color: #FFFFFE;
    --paragraph-color: #B8C1EC;
    --back-color: #D4D8F0;
}

/* FOOTER CONTAINER STARTS HERE */
footer{
    height: 100px;
    min-height: 100px;
    align-items: center;
    margin-top: 500px;
}

.footer-container{
    background-color: #232946;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px;
    color: var(--paragraph-color);
}

.footer-container .right{
    font-size: 13px;
    display: flex;
    gap: 10px;
}

.footer-container .right .copy span{
    font-weight: 900;
}

.footer-container .right .links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer-container .right .links a{
    text-decoration: none;
    color: var(--paragraph-color);
    font-weight: 600;
}

.footer-container .left{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer-container .left{
    font-size: 20px;
}

.footer-container .left a{
    color: var(--paragraph-color);
}
/* FOOTER CONTAINER ENDS HERE */