@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    border: none;
    padding: none;
    margin: none;
    /* background: #232946; */
    --primary-color: #232946;
    --button-color: #EEBBC3;
    --hover-button: ##FFBDC7;
    --headline-color: #FFFFFE;
    --paragraph-color: #B8C1EC;
    --back-color: #D4D8F0;
    --stoke-color: #121629;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Figtree", serif;
    /* background-color:var(--back-color); */
    background: url(../images/cover\(3\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.container {
    position: relative;
    display: flex;
    background-color: var(--primary-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(238, 187, 195, 0.5);
    width: 50%;
    max-width: 1520px;
    height: 600px;
}

.image-container {
    width: 50%;
    height: 100%;
    background: url('https://i.pinimg.com/736x/b2/d0/ab/b2d0ab1f47d49a6a34cc7312c5737569.jpg') center/cover no-repeat;
    opacity: calc(70%);
}

.form-container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 50%;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
    margin: 0;
}

.logo img {
    width: 60px;
    margin: 0;
}

h2 {
    color: var(--button-color);
    font-size: 35px;
    align-items: right;
    padding: 0;
    margin: 0; /* Removes the default margin */
}

.input-group {
    width: 100%;
    margin: 20px 0;
    position: relative;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 12px 20px;
    border: 1px solid var(--headline-color);
    border-radius: 5px;
    font-size: 16px;
    background-color: var(--headline-color);
    font-family: "Figtree", serif;
    font-weight: 600;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: var(--paragraph-color);
    outline: none;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: var(--primary-color);
}

input[type="submit"] {
    padding: 12px 20px;
    background-color: var(--button-color);
    border: var(--stoke-color) solid 5px;
    color: var(--primary-color);
    border: none;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
    border-radius: 5px;
    font-weight: 700;
    font-family: "Figtree", serif;
}

input[type="submit"]:hover {
    background-color: var(--button-color);
    cursor: pointer;
}

input[type="submit"]:disabled {
    background-color: var(--paragraph-color);
    cursor: not-allowed;
}

/* Style when checkbox is checked */
input[type="checkbox"]:checked {
    background-color: var(--button-color); /* Checked background color */
    border-color: var(--button-color); /* Border color */
}

.checkbox-container {
    margin: 15px 0;
    text-align: left;
    color: var(--headline-color);
    align-items: center;
    display: flex;
    gap: 5px;
}

.chick-container span {
    color: var(--button-color);
    font-weight: 800;
}

.chick-container span:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

.checkbox-container label {
    font-size: 14px;
    line-height: 25px;
}

.link {
    display: inline-block;
    font-family: "Figtree", serif;
    font-size: 14px;
    font-weight: 600;
    margin-top: 15px;
    color: var(--button-color);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

p {
    font-size: 14px;
}

#passwordError {
    color: red;
    font-size: 14px;
    display: none;
}
