footer{
    color: #EEBBC3;
    /* height: 100px; */
    min-height: 100px;
}

.footer-container{
    background-color: #232946;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

.footer-container .right{
    font-size: 13px;
    display: flex;
    gap: 10px;
}

.footer-container .right .copy span{
    color: #fffffe;
}

.footer-container .right .copy span .tracker{
    /* color: #08A2FF; */
    font-weight: bold;
}

.footer-container .right .links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.footer-container .right .links a{
    text-decoration: none;
    color: #EEBBC3;
}

.footer-container .left{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer-container .left{
    font-size: 20px;
}